<h1>This is a headline</h1>
<div class="type-sh1">And this is it's subheading</div>

<h2>Smaller headline</h2>
<div class="type-sh2">And this is it's smaller subheading</div>

<h3>Subheadline</h3>
<h4>Section heading</h4>
<h5>Paragraph heading</h5>
