// Base Color Variables
$c-white:               rgb(255,255,255);
$c-black:               rgb(61,57,53);
$c-orange:              rgb(192,81,49);
$c-rust:                rgb(153,85,43);
$c-cream:               rgb(223,209,167);
$c-green-light:         rgb(116,113,54);
$c-green-dark:          rgb(93,100,57);

// Tint Variables
$c-white-10:            rgba($c-white, .1);
$c-white-20:            rgba($c-white, .2);
$c-white-30:            rgba($c-white, .3);
$c-white-40:            rgba($c-white, .4);
$c-white-50:            rgba($c-white, .5);
$c-white-60:            rgba($c-white, .6);
$c-white-70:            rgba($c-white, .7);
$c-white-80:            rgba($c-white, .8);
$c-white-90:            rgba($c-white, .9);
$c-white-100:           rgba($c-white, 1);

$c-black-10:            rgba($c-black, .1);
$c-black-20:            rgba($c-black, .2);
$c-black-30:            rgba($c-black, .3);
$c-black-40:            rgba($c-black, .4);
$c-black-50:            rgba($c-black, .5);
$c-black-60:            rgba($c-black, .6);
$c-black-70:            rgba($c-black, .7);
$c-black-80:            rgba($c-black, .8);
$c-black-90:            rgba($c-black, .9);
$c-black-100:           rgba($c-black, 1);

$c-orange-10:           rgba($c-orange, .1);
$c-orange-20:           rgba($c-orange, .2);
$c-orange-30:           rgba($c-orange, .3);
$c-orange-40:           rgba($c-orange, .4);
$c-orange-50:           rgba($c-orange, .5);
$c-orange-60:           rgba($c-orange, .6);
$c-orange-70:           rgba($c-orange, .7);
$c-orange-80:           rgba($c-orange, .8);
$c-orange-90:           rgba($c-orange, .9);
$c-orange-100:          rgba($c-orange, 1);

$c-rust-10:             rgba($c-rust, .1);
$c-rust-20:             rgba($c-rust, .2);
$c-rust-30:             rgba($c-rust, .3);
$c-rust-40:             rgba($c-rust, .4);
$c-rust-50:             rgba($c-rust, .5);
$c-rust-60:             rgba($c-rust, .6);
$c-rust-70:             rgba($c-rust, .7);
$c-rust-80:             rgba($c-rust, .8);
$c-rust-90:             rgba($c-rust, .9);
$c-rust-100:            rgba($c-rust, 1);

$c-cream-10:            rgba($c-cream, .1);
$c-cream-20:            rgba($c-cream, .2);
$c-cream-30:            rgba($c-cream, .3);
$c-cream-40:            rgba($c-cream, .4);
$c-cream-50:            rgba($c-cream, .5);
$c-cream-60:            rgba($c-cream, .6);
$c-cream-70:            rgba($c-cream, .7);
$c-cream-80:            rgba($c-cream, .8);
$c-cream-90:            rgba($c-cream, .9);
$c-cream-100:           rgba($c-cream, 1);

$c-green-light-10:      rgba($c-green-light, .1);
$c-green-light-20:      rgba($c-green-light, .2);
$c-green-light-30:      rgba($c-green-light, .3);
$c-green-light-40:      rgba($c-green-light, .4);
$c-green-light-50:      rgba($c-green-light, .5);
$c-green-light-60:      rgba($c-green-light, .6);
$c-green-light-70:      rgba($c-green-light, .7);
$c-green-light-80:      rgba($c-green-light, .8);
$c-green-light-90:      rgba($c-green-light, .9);
$c-green-light-100:     rgba($c-green-light, 1);

$c-green-dark-10:       rgba($c-green-dark, .1);
$c-green-dark-20:       rgba($c-green-dark, .2);
$c-green-dark-30:       rgba($c-green-dark, .3);
$c-green-dark-40:       rgba($c-green-dark, .4);
$c-green-dark-50:       rgba($c-green-dark, .5);
$c-green-dark-60:       rgba($c-green-dark, .6);
$c-green-dark-70:       rgba($c-green-dark, .7);
$c-green-dark-80:       rgba($c-green-dark, .8);
$c-green-dark-90:       rgba($c-green-dark, .9);
$c-green-dark-100:      rgba($c-green-dark, 1);

// Mixin to generate classes
// $attribute can be any css attribute that acceps color (background-color, border-color, etc..)
// $prefix is an indicator for the type of attribute (background = bg, fill = fill, line = line)
// $name is the core of the variable name (green-dark)
// $color is the color variable
@mixin generate-color-classes($attribute, $prefix, $name, $color) {
    @for $i from 1 to 10 {
        .c-#{$prefix}-#{$name}-#{$i*10} {#{$attribute}: rgba($color, ($i*.1))};
    }
    .c-#{$prefix}-#{$name},
    .c-#{$prefix}-#{$name}-100,
     {#{$attribute}: rgba($color, 1)};
}

// Background Classes
@include generate-color-classes(background-color, bg, white, $c-white);
@include generate-color-classes(background-color, bg, black, $c-black);
@include generate-color-classes(background-color, bg, orange, $c-orange);
@include generate-color-classes(background-color, bg, rust, $c-rust);
@include generate-color-classes(background-color, bg, cream, $c-cream);
@include generate-color-classes(background-color, bg, green-light, $c-green-light);
@include generate-color-classes(background-color, bg, green-dark, $c-green-dark);

// Fill classes
@include generate-color-classes(color, fill, white, $c-white);
@include generate-color-classes(color, fill, black, $c-black);
@include generate-color-classes(color, fill, orange, $c-orange);
@include generate-color-classes(color, fill, rust, $c-rust);
@include generate-color-classes(color, fill, cream, $c-cream);
@include generate-color-classes(color, fill, green-light, $c-green-light);
@include generate-color-classes(color, fill, green-dark, $c-green-dark);

// Line classes
@include generate-color-classes(border-color, line, white, $c-white);
@include generate-color-classes(border-color, line, black, $c-black);
@include generate-color-classes(border-color, line, orange, $c-orange);
@include generate-color-classes(border-color, line, rust, $c-rust);
@include generate-color-classes(border-color, line, cream, $c-cream);
@include generate-color-classes(border-color, line, green-light, $c-green-light);
@include generate-color-classes(border-color, line, green-dark, $c-green-dark);
